@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<div class="container">
  <h1>Vendor List</h1>
  @if (@Model.Count == 0)
  {
    <h3>You currently don't have any vendors.</h3>
  }

  @foreach (Vendor vendor in Model)
  {
    <h3><a href="/vendors/@vendor.Id">@vendor.Name</a></h3>
  }
  <a href="/vendors/new" class="badge badge-secondary">Add a vendor</a>
  <a href="/" class="badge badge-secondary">Return to main page</a>
</div>