@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<div class="container">
  <h3>Here are all of the orders for @Model["vendor"].Name:</h3>
  <ol>
    @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderTitle</a></li>
    }
  </ol>
  <h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h3>
  <h3><a href="/vendors">Return to vendor list</a></h3>
  <h3><a href="/">Return to main page</a></h3>
</div>