@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<div class="container">
  <h3>Here are all of the orders for @Model["vendor"].Name:</h3>
  @if(@Model["orders"].Count == 0)
  {
    <p>You don't have any orders for this vendor.</p>
  }
  <ol>
    @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderTitle</a></li>
    }
  </ol>
  <a href='/vendors/@Model["vendor"].Id/orders/new' class="badge badge-secondary">Add a new order</a>
  <a href="/vendors" class="badge badge-secondary">Return to vendor list</a>
  <a href="/" class="badge badge-secondary">Return to main page</a>
</div>