@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Here are all of the orders for this vendor:</h3>
  <ol>
    <li>Nothing here yet.</li>
  </ol>
  <h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h3>
  <h3><a href="/vendors">Return to vendor list</a></h3>
  <h3><a href="/">Return to main page</a></h3>
</div>