@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron border border-primary"><h1>Welcome, Pierre!</h1></div>
  <h3><a href="/vendors" class="badge badge-secondary">View Vendors</a></h3>
</div>
